<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show book by id</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
   th:style="${isOverdue? 'color: red;' : 'color: black;'}">VALUE</p>
<br/>
<hr/>
<div th:if="${isOccupied}">
    <p>This book is occupied by:</p>
    <p th:text="${book.getPerson_name()}"></p>
    <br/>
    <form th:method="POST" th:action="@{/books/release}">
        <input type="hidden" name="bookId" th:value="${book.getBookId()}">
        <input type="submit" value="Return Book">
    </form>
    <form th:method="POST"  th:action="@{/books/{bookId}/reserve(bookId=${book.getBookId()})}">
        <label>
            <select name="personId" required>
                <option value="" disabled selected>CHOOSE PERSON TO RESERVE</option>
                <option th:each="person : ${people}"
                        th:if="${person.fullName != book.person_name}"
                        th:value="${person.personId}"
                        th:text="${person.getFullName()}">
                </option>
            </select>
        </label>
        <input type="hidden" name="bookId" th:value="${book.getBookId()}">
        <input type="submit" value="Reserve Book">
    </form>
</div>
<div th:if="${errorMessage != null}" th:text="${errorMessage}" style="color: red;"></div>
<div th:if="${message != null}" th:text="${message}" style="color: green;"></div>
<div th:if="${isReserved}">
    <p>this book is reserved by: </p>
    <p th:text="${book.getReserved_by_name()}"></p>
    <form th:method="DELETE" th:action="@{/books/{bookId}/cancel-reservation(bookId=${book.getBookId()})}">
        <input type="submit" value="Cancel Reservation"/>
    </form>
</div>
<div th:if="${!isOccupied}">
    <p>THIS BOOK IS FREE.</p>
<form th:method="POST" th:action="@{/books/assign-book}">
    <label>
        <select name="personId">
            <option value="" disabled selected>CHOOSE PERSON TO GIVE BOOK</option>
            <option th:each="person : ${people}" th:value="${person.personId}" th:text="${person.getFullName()}"></option>
        </select>
    </label>
    <input type="hidden" name="bookId" th:value="${book.getBookId()}">
    <input type="submit" value="Assign Book">
</form>
</div>

<a th:href="@{/books/{id}/editBook(id=${book.getBookId()})}">
    <button type="button" class="edit-button">Edit book</button>
</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Delete book"/>
</form>
<hr/>
<a th:href="@{/books}">CHECK BOOKS THAT WE HAVE IN LIBRARY</a>
</body>
</html>