<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all books</title>
</head>
<body>
<h1>List of Books</h1>
<div th:each="book : ${books}">
  <a th:href="@{/books/{id}(id=${book.getBookId()})}"
     th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
     th:style="${book.isOverdue()? 'color: red;' : 'color: black;'}">book</a>
</div>
<br/>
<a th:if="${currentPage < totalPages - 1}" th:href="@{/books(page=${currentPage + 1}, size=${books.size()})}">Next Page</a>
<hr/>
<a th:href="@{/books/newBook}">ADD NEW BOOK</a>
<br/>
<a th:href="@{/books/search}">SEARCH BOOK</a>
<br/>
<a th:href="@{/people}">LIST OF PEOPLE</a>

</body>
</html>