<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add new book</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>Create New Book</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/books}" th:object="${book}" th:method="POST">
                <div class="form-group">
                    <label for="name">Title of the book:</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                </div>

                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" id="author" th:field="*{author}" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
                </div>

                <div class="form-group">
                    <label for="year">Year of book:</label>
                    <input type="text" id="year" th:field="*{year}" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
                </div>

                <button type="submit" class="btn btn-primary">Create!</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
